*,
*::after,
*::before {
  box-sizing: border-box;
}

.banner {
  background-image: linear-gradient(
    to top left,
    hsl(264, 100%, 61%),
    hsl(293, 100%, 63%)
  );
  width: 50%;
  height: 400px;
  align-self: flex-start;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  border-radius: 0px 0px 1000px 0px;
}

@media screen and (min-width: 1000px) {
  .banner {
    width: 25%;
    height: 550px;
    border-radius: 0 0 1000px 1000px;
  }
}
