*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  /* background */
  --main-app-bg: hsl(270, 20%, 96%);
  --light-magenta: hsl(293, 100%, 63%);
  --light-violet: hsl(264, 100%, 61%);
  --phone-bg: hsl(0, 0, 100%);

  /* text color */
  --phone-subheading: hsl(276, 100%, 81%);
  --phone-left-chat: hsl(276, 55%, 52%);
  --phone-right-chat: hsl(271, 15%, 43%);
  --phone-placeholder: hsl(206, 6%, 79%);
  --desc-header: hsl(271, 36%, 24%);
  --desc-main: hsl(270, 7%, 64%);

  /* font size */
  --fs-medium: 16px;
}

body {
  background-color: var(--light-app-bg);
  font-family: "Rubik", sans-serif;
  font-size: var(--fs-medium);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.banner {
  background-image: linear-gradient(
    to top left,
    var(--light-violet),
    var(--light-magenta)
  );
  width: 50%;
  height: 400px;
  align-self: flex-start;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  border-radius: 0px 0px 1000px 0px;
}

.phone {
  display: flex;
  flex-direction: column;
  width: 210px;
  max-height: 100%;
  height: 450px;
  border-radius: 20px;
  padding: 10px;
  background-color: var(--phone-bg);
  margin-bottom: 40px;
  border: 1px solid black;
}

@media screen and (min-width: 1000px) {
  .banner {
    width: 25%;
    height: 550px;
    border-radius: 0 0 1000px 1000px;
  }
}
